.hero {
  background-image: url("../../images/heroart.jpg");
  height: 300px;
  background-size: cover;
  background-position-y: center;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 5px 9px rgba($color: #000000, $alpha: 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.hero,
.avatar--main {
  box-shadow: 1px 5px 9px rgba($color: #000000, $alpha: 0.25);
}

.dashboard {
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;

  &__col--img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.entry {
  &__textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.avatar--main {
  border-radius: 5px;
}
