.post {
  margin-top: 1rem;

  &__user {
    font-weight: bold;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    text-transform: capitalize;
  }

  &__title {
    font-weight: bold;
  }

  &__card {
    margin-top: 1rem;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 1px 5px 9px rgba($color: $primary, $alpha: 0.25);
    transition: 1s;
    border-radius: 5px;
  }

  &__panel {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--text {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
    }
    /* &--shout {
      margin-right: 7rem;
    } */
    .count {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      width: 90%;

      p {
        margin-left: 1rem;

        span {
          color: $secondary;
          font-weight: bold;
          text-shadow: 1px 5px 9px rgba($color: $primary, $alpha: 0.25);
          transition: 0.1s;
        }
      }
      p:hover {
        text-decoration: underline 3px solid $secondary;
        cursor: pointer;
      }
    }
  }

  &__card:hover {
    box-shadow: none;
  }
  &__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  &__body {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  &__footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    &__count {
      color: $secondary;
      font-size: 1.5rem;
    }
  }
  &__footer--mine {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
}
