@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto&display=swap");
//general

h1 {
  color: $dark-font;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

// nav

nav {
  .brand {
    font-family: "Odibee Sans", cursive;
    text-transform: capitalize;
    padding-left: 1rem;
    text-decoration: underline 3px $secondary;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  a {
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
  }
  a:hover {
    text-decoration: 2px solid underline $secondary;
    color: $secondary;
  }
}
