@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
  color: $primary;
}

// nav

nav {
  .brand {
    text-transform: capitalize;
    padding-left: 1rem;
    text-decoration: underline 3px $secondary;
    -webkit-text-decoration: underline 3px $secondary;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  a {
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
  }
  a:hover {
    text-decoration: 2px solid underline $secondary;
    color: $secondary;
  }
}

.reg {
  color: $secondary;
  font-weight: bold;
  text-transform: uppercase;
}

.brand--general {
  -webkit-text-decoration: underline 2px solid $secondary;
  text-transform: uppercase;
  font-size: 2rem;
}
.brand--general,
.footer__brand,
.brand {
  font-family: "odibee Sans", cursive;
}

.footer__brand {
  font-size: 1.3rem;
  text-decoration: underline 2px solid $secondary;
  -webkit-text-decoration: underline 2px solid $secondary;
  span {
    color: $secondary;
  }
}
